/*Connecting external fonts*/

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-BoldItalic';
    src: url('../fonts/FiraSans/FiraSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-Italic';
    src: url('../fonts/FiraSans/FiraSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-LightItalic';
    src: url('../fonts/FiraSans/FiraSans-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/FiraSans/FiraSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-MediumItalic';
    src: url('../fonts/FiraSans/FiraSans-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "FontAwesome";
    src: url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'), url('../fonts/FontAwesome/FontAwesome.otf') format('opentype');
}

/*Font-styling classes*/

.font-medium {
    font-family: "FiraSans-Medium", "Arial", sans-serif;
}
.font-light {
    font-family: "FiraSans-Light", "Arial", sans-serif;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-21 {
    font-size: 21px;
}
.font-size-42 {
    font-size: 42px;
}

/*Text styling*/

.text-centered {
    text-align: center;
}
.line-height-15 {
    line-height: 1.5;
}
.line-height-30 {
    line-height: 3;
}
* {
    box-sizing: border-box;
}
html {
    font-family: "FiraSans-Regular", "Arial", sans-serif;
    font-size: 14px;
}
h1 {
    font-family: "FiraSans-Medium", "Arial", sans-serif;
    font-size: 42px;
    margin: 20px 0;
}
h2 {
    font-size: 21px;
    margin: 0 0 15px 0;
}
h3 {
    color: #727272;
    font-family: "FiraSans-Light", "Arial", sans-serif;
    font-size: 21px;
    margin: 20px 0 30px 0;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    /*Temporary property*/
    /*border: 1px dashed rgba(52, 105, 69, 0.71);*/
}
.header {
    background-color: #8cc34b;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.header__icon {
    width: 62px;
    height: 62px;
    margin: 15px 20px 10px 25px;
    border-radius: 50%;
    border: 2px white solid;
    background: url('../img/Avatarka.jpg') center / cover no-repeat;
    float: left;
}
.header__contacts {
    float: left;
    margin-top: 20px;
    line-height: 1.5;
    color: white;
}
.header__socials {
    float: right;
    margin-top: 30px;
}
.header__socials__list {
    list-style: none;
    font-size: 0;
}
.header__socials__list__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.header__socials__list__icon:first-child {
    margin-left: 0;
}
.header__socials__list__icon:last-child {
    margin-right: 25px;
    width: 40px;
}
.header__socials__list__icon--github {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/git.svg') center no-repeat;
}
.header__socials__list__icon--github:hover {
    background-image: url('../img/git_hovered.svg')
}
.header__socials__list__icon--skype:hover {
    background-image: url('../img/sk_hovered.svg')
}
.header__socials__list__icon--vk:hover {
    background-image: url('../img/vk_hovered.svg')
}
.header__socials__list__icon--skype {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/sk.svg') center no-repeat;
}
.header__socials__list__icon--vk {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/vk.svg') center no-repeat;
}
.clearfixed:before, .wrapper:after {
    content: " ";
    display: table;
}
.clearfixed:after {
    clear: both;
}

/*Courses component styling*/


/*TODO Delete all temporary styles*/


/*TODO Add fontawesome clock from http://fontawesome.io/icon/clock-o/*/


/*TODO difine the min-height of the section so the background covers all the place to the footer when all courses articles disappear*/

.section__info {
    padding-top: 55px;
}
.section__courses {
    padding: 60px 0 100px 0;
    background: url('../img/gplaypattern.png') repeat;
}
.section__courses__article {
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    /*Temporary properties*/
    /*height: 300px;*/
}
.section__courses__article:hover .section__courses__article__main {
    color: #8cc34b;
    border-color: #8cc34b;
}
.section__courses_article .section__courses__article__footer .checker:checked {}
.section__courses__article__header {
    height: 165px;
}
.section__courses__article--js__header {
    background: url('../img/javascriptCourse.png');
}
.section__courses__article__main {
    border-top: 5px solid transparent;
    padding: 20px 20px 0px 20px;
    /*Temporary properties*/
}
.section__courses__article__main p {
    color: black;
}
.section__courses__article__footer {
    padding: 20px 0;
    color:gray;
    background-color: #f6f7f2;
    /*Temporary properties*/
}
.section__courses__article__footer--checker{
  display:none;
}
.section__courses__article__footer--checker:not(checked)+label::before{
  margin: 0 15px 0 20px;
  display:block;
  width:15px;
  height:15px;
  float:left;
  /*font-size: 1.3em;*/
  /*font-family: "FontAwesome";*/
  content:'';
  color:#f6f7f2;
  border: 3px grey solid;
  border-radius:2px;
}
.section__courses__article__footer--checker:checked+label::before{
  margin: 0 20px;
  display:block;
  width:15px;
  height:15px;
  float:left;
  /*font-size: 1.3em;*/
  font-family: "FontAwesome";
  content:'\f00c';
  color:white;
  background-color:#8cc34b;
  border-color: #8cc34b;
  font-size: 0.9em;
}
.duration {
    color: #727272;
}
.duration:before {
    margin-right: 5px;
    font-family: "FontAwesome";
    content: "";
}
.footer {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    line-height: 1.5;
    position: fixed;
    bottom: 0;
    color: #828282;
    background-color: #212121;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/*Temporary styles for further deleting*/

.red {
    background-color: red
}
.blue {
    background-color: blue;
}
.white {
    background-color: white;
}
.pink {
    background-color: pink;
}
